div{
    border: black;
    border-style: solid;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.createdDiv{
    background: url("https://wallpapers.com/images/featured/turquoise-blue-i1x02saomw6pv4mu.jpg");
    border-radius: 5%;

    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 100px
}

img{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 50%;
}
.border{
    border-style: none;
    border-radius: 0%;
    width: 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #5FCDD9;
    background: url("https://images2.alphacoders.com/536/thumb-1920-536245.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bad{
    width: 400px;
    background: url("https://images2.alphacoders.com/536/thumb-1920-536245.jpg");
    font-size: 15px;
}

.comment{
    width: 400px;
    background-color: wheat;
    text-align: left;
}

.commentTitle{
    font-weight: bolder;
    text-decoration: underline;
    font-size: large;
}

.post{
    text-align: left;
    font-weight: bolder;
}

.fff{
    font-weight: bolder;
}